<footer id="seguranca" class="text-white">
    <div class=" container py-5">
      <p class="h5">
        <em>
          Lembramos que a segurança das informações é de extrema importância.
          A Intranet de TI é protegida por autenticação rigorosa para garantir que apenas
          os membros autorizados tenham acesso a informações confidenciais.
          Agradecemos a todos os envolvidos no desenvolvimento desta Intranet de TI
          e estamos empolgados com a oportunidade de fortalecer nossa colaboração e conhecimento técnico por meio desta
          plataforma.
        </em>
      </p>
      <p class="h6">
        <em>
          Se você tiver alguma dúvida ou sugestão sobre como melhorar a Intranet,
          não hesite em entrar em contato com a equipe de administração.
        </em>
      </p>
    </div>
    <div class="bg-dark  text-center py-3">
      <p class="h5 lead"> Mundial Calçados &copy Alguns direitos reservados </p>
    </div>
  </footer>
  <script type="text/javascript" src="js/jquery-3.2.1.slim.min.js"></script>
  <script type="text/javascript" src="js/popper.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/app.js"></script>