<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>
<title>Mundial LAB - Home</title>

<body>
  <!-- Modal -->
  <%- include('./partials/modal.ejs') %>
  <!-- Fecha Modal -->
  <%- include('./partials/navbar.ejs') %>

  <section class="container text-center">
    <div class="row">
      <div class=" p-0">
        <div id="carouselTc" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselTc" data-slide-to="0" class="active"></li>
            <li data-target="#carouselTc" data-slide-to="1"></li>
            <li data-target="#carouselTc" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="img/sl001.png" alt="California">
              <div class="carousel-caption">
                <h3 class="display-4"></h3>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="img/sl002.png" alt="California">
              <div class="carousel-caption">
                <h3 class="display-4"></h3>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="img/sl003.png" alt="California">
              <div class="carousel-caption">
                <h3 class="display-4"></h3>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselTc" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carouselTc" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
          </a>
        </div>
      </div>
    </div>
    <div class="my-lg-3 py-5">
      <h1 id="apre" class="display-4">Bem-vindo à Intranet T.I Mundial</h1>
      <h2 class="pb-3"> Caros colegas de equipe,</h2>
      <p>É com grande entusiasmo que apresentamos a nossa nova Intranet de Tecnologia da Informação (TI).
        Esta plataforma foi cuidadosamente desenvolvida para servir como um recurso centralizado e acessível a todos os
        membros da nossa equipe de TI.
        Neste espaço, você encontrará informações essenciais sobre a nossa infraestrutura, topologia de rede e artigos
        detalhados de instalação.
        Vamos explorar o que esta intranet tem a oferecer:
      </p>
    </div>
    </div>
  </section>
  <section class="bg-light py-5">
    <div class="container text-center">
      <div class="row">
        <div class="col-xl-4">
          <div style="height: 100px;" class="d-flex justify-content-center">
            <img src="./img/icon/internet.png" alt="">
          </div>
          <h2>Topologia de Rede:</h2>
          <div>
            <p>
              Aqui, você terá acesso a uma descrição completa da nossa topologia de rede, incluindo informações sobre
              como os diferentes componentes estão interconectados.
              Esta seção é crucial para que todos compreendam a estrutura da nossa rede, o que é fundamental para
              garantir um funcionamento eficaz e seguro dos sistemas.
            </p>
          </div>
          <div class="m-3">
            <a href="#" class="btn btn-primary btn-sm btn-block"> Topologia de rede</a>
          </div>
        </div>
        <div class="col-xl-4">
          <div style="height: 100px;" class="d-flex justify-content-center">
            <img src="./img/icon/article.png" alt="">
          </div>
          <h2>Artigos e Instalação:</h2>
          <div>
            <p>
              Para facilitar o trabalho de todos os membros da equipe, disponibilizamos uma vasta coleção de artigos de
              instalação. Esses recursos detalhados guiarão você através de processos de instalação de software,
              configuração de hardware e procedimentos de manutenção.
              Eles são projetados para serem um recurso prático, economizando tempo e esforço em projetos de
              implementação.
            </p>
          </div>
          <div class="m-3">
            <a href="#" class="btn btn-primary btn-sm  btn-block"> Manual de Instalação</a>
            <a href="/artigos" class="btn btn-primary btn-sm  btn-block"> Artigos </a>
          </div>
        </div>
        <div class="col-xl-4">
          <div style="height: 100px;" class="d-flex justify-content-center">
            <img src="./img/icon/infrastructure.png" alt="">
          </div>
          <h2>Infraestrutura de TI:</h2>
          <div>
            <p>
              Nesta área, detalhamos todos os aspectos da nossa infraestrutura de TI. Isso inclui servidores,
              armazenamento, sistemas operacionais e muito mais.
              Você encontrará informações sobre as especificações técnicas, locais físicos e virtuais, bem como detalhes
              sobre políticas de segurança e backup.
            </p>
          </div>
          <div class="m-3">
            <a href="#" class="btn btn-primary btn-sm  btn-block"> Infraestrutura</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('./partials/footer.ejs') %>
</body>
</html>