<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Serviços</title>
</head>
<body>
    <section class="container">
        <div class="login">
            <h1>Login</h1>
          <form action="" method="post">
           <label for="text">Usuario</label>
           <input type="text">
           <label for="password">Senha</label>
           <input type="password">
           <input type="button" value="Entrar">

          </form>
        </div>
    </section>
</body>
</html>